@import "../../utilities/mixins";
@import "../../layout/header";
@import "../../layout/menu";
@import "../../layout/services";
@import "../../layout/look";
@import "../../layout/barbers";
@import "../../layout/gallery";
@import "../../layout/testimonials";
@import "../../layout/horario";
@import "../../layout/location";
@import "../../layout/footer";


:root {
    --font-titles: 'Roboto Slab', serif;
    --font-parrafo: 'Opens Sans', sans-serif;
    --color-body: #fdfdfd;
    --color-white: #fff;
    
    --color-lightGray: #f6f6f6;
    --color-primaryGray: #999999;
    --color-secundaryGray: #cecece;
    --color-primary: #163a5e;
    --color-secundary: #c89765;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--color-body);
    font-family: var(--font-parrafo);
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

.titulo {
    line-height: 1.2;
    font-size: 2.2rem;
    font-family: var(--font-titles);
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
}

.contenedor {
    max-width: 1280px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    min-width: 300px;
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.5rem;
}



