

@mixin button {
    font-size: 1.4rem;
    border-radius: 3.5rem;
    padding: 1rem 5rem;
    color: var(--color-text-button);
    border: 2px solid var(--color-background-button);
    background-color: var(--color-background-button);
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease-out;
}

@mixin parrafo {
    font-family: var(--font-parrafo);
    font-size: 1.4rem;
    line-height: 1.55;
    color: #fff;
}

@mixin after_before {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;

    &::after, &::before{
        content: '';
        display: block;
        width: 50px;
        border-top: 3px solid #c89765;
    }
    img {
        width: 50px;
        
    }
}