
.section_our_barbers {
    padding-top: 2rem;
}

.barber__text {
    text-align: center;

    .titulo {
        letter-spacing: .05rem;
        margin-bottom: 0;
    }

    .after_before {
        @include after_before;
    }
    .text-parrafo {
        @include parrafo;
        color: var(--color-primaryGray);
    }
}

.card__barbers {
    background-color: var(--color-white);
    margin: 2.5rem 0;
    text-align: center;

    .barber_image {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .text-parrafo {
        @include parrafo;
        color: var(--color-primaryGray);
    }
}

.barber_text {
    padding: 2rem 3rem;

    .titulo {
        letter-spacing: .08rem;
        font-size: 1.4rem;
    }

    .barber_redes {
        display: flex; 
        justify-content: space-evenly;
        margin: 3rem 0;
        padding: 0 3.2rem;

        .icono {
            font-size: 1.5rem;
            color: var(--color-secundary);
        }
    }
}

// ********** MEDIA QUERY ***************
@media (min-width: 480px) {
    .section_our_barbers {
        .wrapper {
            max-width: 480px;
        }
    }

    .barber__text {
        .text-parrafo {
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
    }
}


@media (min-width: 768px) {
    .section_our_barbers {
        .wrapper {
            max-width: 750px;
        }
    }
    .barbers_container {
        display: flex;
        flex-wrap: wrap;

        .card__barbers {
            flex-basis: 50%;
            padding: 0 1.5rem;
        }
    }
}
