
.section_our_barbers {
    padding-top: 2rem;
}

.barber__text {
    text-align: center;

    .titulo {
        letter-spacing: .05rem;
        margin-bottom: 0;
    }

    .after_before {
        @include after_before;
    }
    .text-parrafo {
        @include parrafo;
        color: var(--color-primaryGray);
    }
}

.barbers_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    column-gap: 2.5rem;
}

.card__barbers {
    // max-width: 100%;
    background-color: var(--color-white);
    margin: 2rem 0;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #dedede;

    .barber_image {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .text-parrafo {
        @include parrafo;
        color: var(--color-primaryGray);
    }
}

.barber_text {
    padding: 2rem 3rem;

    .titulo {
        letter-spacing: .08rem;
        font-size: 1.4rem;
    }

    .barber_redes {
        display: flex; 
        justify-content: space-evenly;
        margin: 3rem 0;
        padding: 0 3.2rem;

        .icono {
            padding: .7rem 1rem;
            border-radius: 5px;
            font-size: 1.5rem;
            color: var(--color-secundary);
            transition: .3s ease-out;
            
            &:hover {
                color: var(--color-white);
                background-color: var(--color-secundary);
            }
        }
    }
}

// ********** MEDIA QUERY ***************
@media (min-width: 320px) {
    .barbers_container {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}

@media (min-width: 480px) {
    .section_our_barbers {
        .wrapper {
            max-width: 480px;
        }
    }

    .barber__text {
        .text-parrafo {
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
    }
}


@media (min-width: 768px) {
    .section_our_barbers {
        padding: 4rem 10rem;
        .wrapper {
            max-width: 750px;
        }
    }
    .barber__text {
        .titulo {
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 1.33333;
        }
    }
}       



@media (min-width: 992px) {
    .section_our_barbers {
        padding: 7.5rem 0;
        .wrapper {
            max-width: 970px;
        }
    }

    .barber__text {
        .text-parrafo {
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
    }
}

@media (min-width: 1200px) {
    .section_our_barbers {
        padding: 11rem 6.5rem;
        .wrapper {
            max-width: 1200px;
        }
    }
    .card__barbers {
        transition: .33s all ease;
        &:hover {
            background-color: var(--color-lightGray);
            // box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.43);
        }
    }
    .barber__text {
        .titulo {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.33333;
        }
        .text-parrafo {
            max-width: 780px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}