
.section_footer {
    padding: 2.2rem 0;
    background-color: #303030;
}

.content__footer {
    padding: 0 1rem;
}

.logo_footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .titulo {
        color: #cecece;
        font-size: 1.5rem;
    }

    img {
        width: 8rem;
    }
}


.text_footer {

    .text-parrafo {
        @include parrafo;
        text-align: center;
        color: #cecece;
    }

}

.nav_footer {
    list-style: none;
    text-align: center;

    .menu__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item_menu {
            margin: 1.5rem 0;
            width: 100%;
        }
    }

    .titulo {
        color: #cecece;
        text-decoration: none;
        font-size: 1.3rem;
    }
}

.footer_redes {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    
    .icono {
        margin: 1.5rem 2rem;
        color: #cecece;
        font-size: 1.8rem;
    }
}

.copyright {
    margin: 2rem 0;
    h3 {
        text-align: center;
        font-size: 1.3rem;
        text-transform: capitalize;
        color: var(--color-text);
    }
}


.fa-angle-right {
    margin: 0 .7rem;
}