
.section_footer {
    padding: 2.2rem 0;
    background-color: #303030;
}


.logo_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 4rem;

    .titulo {
        color: #cecece;
        font-size: 1.5rem;
    }

    img {
        width: 14rem;
    }
}


.text_footer {

    .text-parrafo {
        @include parrafo;
        text-align: center;
        color: #cecece;
    }

}

.nav_footer {
    list-style: none;
    text-align: center;
    border-top: 2px solid rgba(255,255,255,0.2);
    border-bottom: 2px solid rgba(255,255,255,0.2);

    .menu__nav {
        padding: 1.2rem 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .item_menu {
            margin: 1.5rem 0;
        }
    }

    .titulo {
        color: #fff;
        text-decoration: none;
        font-size: 1.3rem;
    }
}

.footer_redes {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    
    .icono {
        margin: 1.5rem 2rem;
        color: #fff;
        font-size: 1.8rem;
    }
}

.copyright {
    margin: 2rem 0;
    .titulo {
        text-align: center;
        font-size: 1.3rem;
        text-transform: capitalize;
        color: #fff;
    }
}
