
.card__gallery {
    @extend %card__section;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ), url(../img/gallery.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery_text {
    padding: 4rem 0 1rem;
    
    .titulo {
        word-spacing: 2px;
        letter-spacing: 1.3px;
        margin-bottom: 0;
        color: #fff;
    }
    .after_before {
        @include after_before;
        margin-left: 0;
    }
    
    .text-parrafo {
        @include parrafo;
        color: #bcbcbc;
        margin-bottom: 5rem;
        // padding-bottom: 5rem;
    }

    .button {
        @include button;
        text-decoration: none;
        font-family: var(--font-titles);
    }
}



