
.card__gallery {
    @extend %card__section;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ), url(../img/gallery.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery_text {
    padding: 4rem 0 1rem;
    
    .titulo {
        word-spacing: 2px;
        letter-spacing: 1.3px;
        margin-bottom: 0;
        color: var(--color-white);
    }
    .after_before {
        @include after_before;
        margin-left: 0;
    }
    
    .text-parrafo {
        @include parrafo;
        color: var(--color-primaryGray);
        margin-bottom: 5rem;
    }

    .button {
        @include button;
        text-decoration: none;
        font-family: var(--font-titles);
    }
}

// ********** MEDIA QUERY ***************
@media (min-width: 480px) {
    .card__gallery {
        .wrapper {
            max-width: 480px;
        }
    }
    .gallery_text {
        .text-parrafo {
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
    }
}

@media (min-width: 768px) {
    .card__gallery {
        .wrapper {
            max-width: 750px;
        }
    }
    .gallery_text {
        width: 66.66666%;
        .titulo {
            font-size: 2.8rem;
            line-height: 1.33333;
        }
    }
}


