
.section_header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.6)
      ), url(../img/header2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content {
    padding: 1rem 2rem;
    .logo {
        width: 140px;
    }
    
    .image_content { 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}
    
.header__text {
    text-align: center;
    .titulo {
        font-family: var(--font-titles);
        font-size: 2.7rem;
        color: var(--color-white);
        margin: 3rem 0;
    }
    .text-parrafo {
        @include parrafo;
        color: var(--color-white);
        font-size: 1.6rem;
        line-height: 1.6;
    }
}

// ********** MEDIA QUERY ***************
@media (min-width: 480px) {
    .header__text {
        .text-parrafo {
            font-size: 1.7rem;
            line-height: 3rem;
        }
    }
}