
.section_header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ), url(../img/header2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 52rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;

    align-items: center;    

}

.header_content {
    .after_before {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 5rem;
        }
    }
    .logo {
        width: 140px;
    }
    
    .image_content { 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .titulo {
            font-size: 1.4rem;
            color: var(--color-white);
            letter-spacing: .15rem;
        }
    }
}
    
.header__text {
    text-align: center;
    .titulo {
        font-family: var(--font-titles);
        color: var(--color-white);
        font-size: 2.7rem;
        letter-spacing: .04rem;
        margin: 3rem 0;
        text-transform: capitalize;
    }
    .text-parrafo {
        @include parrafo;
        color: var(--color-white);
        font-size: 1.6rem;
        line-height: 1.6;
    }
}

// ********** MEDIA QUERY ***************
@media (min-width: 480px) {
    .section_header {
        height: 55rem;
        .wrapper {
            max-width: 500px;
        }
        .after_before {
            img {
                width: 7rem;
            }
        }
        .image_content {
            .titulo {
                font-size: 1.9rem;
            }
        }
    }
    .header__text {
        .titulo {
            font-size: 3.4rem;
        }
        .text-parrafo {
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }
}


@media (min-width: 768px) {
    .section_header {
        height: 60rem;
        .wrapper {
            max-width: 750px;
        }
        .logo {
            width: 180px;
        }
    }
    .header__text {
        .titulo {
            font-size: 5.5rem;
        }
        .text-parrafo {
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }
}

@media (max-width: 992px) {
    .menu__nav_desktop {
        display: none;
    }
}

@media (min-width: 992px) {
    .section_nav {
        display: none;
    }
    .section_header {
        grid-template-rows: 120px 1fr;
    }

    .menu__nav_desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 4rem;

        .container_image {
            width: 11rem;
        }
        .button {
            @include button;
            font-family: var(--font-titles);
            font-size: 1.1rem;
            padding: 1rem 2.5rem;

            &:hover {
                border-color: var(--color-primary);
                background-color: transparent;
            }
        }
        .container_menu {
            list-style: none;
            display: flex;

            .item__menu > a {
                font-family: var(--font-titles);
                color: var(--color-secundaryGray);
                font-size: 1.7rem;
                margin: 0 2rem;
            }
        }
    }

}

@media (min-width: 1200px) {
    .section_header {
        grid-template-rows: 150px 1fr;
    }
    .menu__nav_desktop {
        .container_image {
            width: 14.5rem;
        }
        .button {
            @include button;
        }
        .container_menu {
            .item__menu > a {
                font-size: 2rem;
            }
        }
    }

    .section_header {
        height: 100vh;
        .wrapper {
            max-width: 1200px;
            .contenedor {
                max-width: 75%;   
            }
        }
        .logo {
            width: 200px;
        }
    }
    .header__text {
        .titulo {
            font-size: 7.2rem;
        }
        .text-parrafo {
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }
}