

.section_header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/header2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;

    .header_content {
        padding-top: 3rem;
    }
}


.contenedor {
    padding: 1rem 1rem;
    .logo {
        width: 110px;
    }
    
    .image_content { 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}

    
.header__text {
    text-align: center;
    h1 {
        font-family: var(--font-titles);
        font-size: 3rem;
        color: var(--color-white);
        margin: 3rem 0;
    }
    .text-parrafo {
        @include parrafo;
        font-size: 1.6rem;
        line-height: 1.4;
    }

}