

.section_header {
    background-image: url(../img/header-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
}

.contenedor {
    padding: 1rem 1rem;
    .logo {
        width: 110px;
    }
    
    .image_content { 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}

    
.header__text {
    text-align: center;
    h1 {
        font-family: var(--font-titles);
        font-size: 3rem;
        color: #fff;
        margin: 3rem 0;

    }
    span {
        text-align: center;
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 10px;
    }
    .text-parrafo {
        @include parrafo;
        font-size: 1.6rem;
    }

}