
.section_days {
    background-image: url(../img/header-img.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 3rem 0;

}

.days__text {
    .titulo {
        letter-spacing: 2px;
        color: var(--color-white);
        margin-bottom: 0;
    }
    
    .after_before {
        @include after_before;
    }
}

.week_days {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card__days {
    &:last-child {
        background-color: #3b3b3b;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--color-secundary);

    .titulo {
        color: var(--color-white);
        margin: 0;
        font-size: 3.2rem;
    }

    .text-parrafo {
        @include parrafo;
        font-size: 1.29rem;
        line-height: 1.4;
        margin: 0;
    }
}

.horarios_sedes {
    padding: 4rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    grid-column-gap: 20px;
    justify-content: center;

    
    .button__sedes {
        cursor: pointer;
        font-size: 1.2rem;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid var(--color-white);
        color: var(--color-white);
        padding: .9rem 0;
        transition: .33s ease-in-out;

        &:hover {
            background-color: var(--color-secundary);
        }
        &:first-child {
            background-color: var(--color-secundary);
            border-color: var(--color-secundary);
        }
    }
}




// ********** MEDIA QUERY ***************

@media (max-width: 320px) {
    .card__days  {
        width: 115px;
        height: 115px;

        .titulo {
            font-size: 2.7rem;
        }
    
        .text-parrafo {
            font-size: 1.1rem;
        }
    }
}

@media (min-width: 540px) {
    .section_days {
        .wrapper {
            max-width: 700px;
        }
    }
}

@media (min-width: 768px) {
    .section_days {
        .wrapper {
            max-width: 750px;
        }
    }
    .days__text {
        .titulo {
            font-size: 2.8rem;
            line-height: 1.33333;
            font-weight: 700;
        }
    }
    .horarios_sedes {
        grid-template-columns: repeat(2, 13rem);
        .button__sedes {
            font-size: 1.8rem;
            padding: 1rem;
        }
    }
}

@media (min-width: 992px) {
    .section_days {
        .wrapper {
            max-width: 992px;
        }
    }
}

@media (min-width: 1200px) {
    .section_days {
        .wrapper {
            max-width: 100%;
        }
    }
    .card__days  {
        width: 150px;
        height: 150px;

        .titulo {
            font-size: 3.7rem;
        }
    
        .text-parrafo {
            font-size: 1.4rem;
        }
    }
    .horarios__container {
        padding: 4rem 0;
    }
    .week_days {
        padding: 2rem 0;
    }
    .days__text {
        .titulo {
            font-size: 3.6rem;
            line-height: 1.33333;
            font-weight: 700;
        }
    }
    .horarios_sedes {
        grid-template-columns: repeat(2, 16rem);
        .button__sedes {
            font-size: 2.1rem;
            padding: 1.5rem;
        }
    }
}