
.section_location {
    padding-bottom: 6rem;
}

.map__location {
    height: 22rem;
}

.location__text {
    text-align: center;

    h3 {
        margin-bottom: 0;
    }
    .after_before {
        @include after_before;
    }

}