
.section_location {
    padding: 3.5rem 0 6rem 0;
}

.map__location {
    height: 25rem;
}

.location__text {
    text-align: center;

    .titulo {
        margin-bottom: 0;
    }
    .after_before {
        @include after_before;
    }

}

@media (min-width: 480px) {
    .map__location {
        height: 38rem;
    }
}

@media (min-width: 768px) {
    .section_location {
        padding: 6rem 0;
    }
    .location__text {
        .titulo {
            font-size: 2.8rem;
            line-height: 1.33333;
            font-weight: 700;
        }
    }
    .map__location {
        height: 45rem;
    }
}

@media (min-width: 1200px) {
    .section_location {
        padding: 11rem 0;
    }
    .location__text {
        .titulo {
            font-size: 3.6rem;
            line-height: 1.33333;
            font-weight: 700;
        }
    }
    .map__location {
        height: 55rem;
    }
}
