
.section_location {
    padding: 3.5rem 0 4rem 0;
}

.map__location {
    height: 23.5rem;
}

.location__text {
    text-align: center;

    .titulo {
        margin-bottom: 0;
    }
    .after_before {
        @include after_before;
    }

}

@media (min-width: 480px) {
    .map__location {
        height: 27rem;
    }
}