

%card__section {
    background-color: var(--color-lightGray);
    padding: 1rem 2.2rem;
    padding-bottom: 6rem;
}

.look_image {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left center;
    }
}

.card__look {
    @extend %card__section;
}

.look_text {
    .titulo {
        word-spacing: 2px;
        letter-spacing: 0.05rem;
        margin-bottom: 0;
    }
    .after_before {
        @include after_before;
        margin-left: 0;
    }
    
    .text-parrafo {
        @include parrafo;
        color: var(--color-primaryGray);
        margin-bottom: 0;
    }

    .button_content {
        margin-top: 5rem;
    }

    .button {
        @include button;
        text-decoration: none;
        font-family: var(--font-titles);

        &:hover {
            border-color: var(--color-primary);
            background-color: var(--color-primary);
        }
    }
}


// ******** MEDIA QUERY ***************
@media (min-width: 768px) {
    .look__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .card__look {
        padding: 4rem 3rem;

        .titulo {
            font-size: 2.8rem;
            line-height: 1.33333;
        }
    }
}

@media (min-width: 992px) {
    .card__look {
        padding: 6rem 9rem 8rem 6rem;
    }
}