

.section_nav {
    background-color: #fdfdfd;
    position: sticky;
    top: 0;

    .menu__nav {
        display: flex;
        justify-content: start;
        align-items: center;
        list-style: none;
        padding: .9rem 1.2rem;
        
        .titulo {
            color: var(--color-primary);
            margin: 0 .5rem;
            font-size: 1.3rem;
        }
    
        img {
            width: 5.2rem;
        }
    
        li:last-child {
            font-size: 3rem;
            margin-left: auto;
            .icon {
                text-decoration: none;
                color: var(--color-primary);
            }
        }
    }
}


.hambur {
    font-size: 3rem;
    margin-right: 2rem;

    .icono {
        text-decoration: none;
        color: #747474;

        img {
            padding-top: .8rem;
            width: 30px;
        }
    }

    .menu__hambur {
        display: block;
        margin-bottom: 8px;
        height: .1rem;
        background-color: #000;
        width: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}




