
.section_services {
    padding: 3rem 0;
}

.services_text {
    text-align: center;
    
    .after_before {
        @include after_before;
    }
    
    .titulo {
        letter-spacing: .2rem;
        margin-bottom: 0;
    }
    .text-parrafo {
        @include parrafo;
        margin-left: auto;
        margin-right: auto;
        color: var(--color-primaryGray);
        line-height: 1.5;
        max-width: 780px;
    }
}

.card__services {
    background-color: var(--color-lightGray);
    margin: 2.5rem 0;
    padding: 2.2rem 2.7rem;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0 2rem;
    grid-template-areas: "imagen imagen" "text text";
    
    .card_img {
        justify-self: center;
        width: 90px;
        grid-area: imagen;
    }

    
}

.card_text {
    grid-area: text;
    .titulo {
        font-size: 1.4rem;
        letter-spacing: 1.5px;
        a {
            text-decoration: none;
            color: inherit;
            transition: .3s ease-out;
            &:hover {
                color: var(--color-secundary);
            }
        }

    }
    
    .text-parrafo {
        @include parrafo;
        color: var(--color-primaryGray);
        line-height: 1.5;
        font-size: 1.4rem;
    }
    .precio {
        color: var(--color-secundary);
        font-size: 1.4rem;
        margin-bottom: 0;
    }
}


// ******** MEDIA QUERY ***************

@media (min-width: 480px) {
    .section_services {
        .wrapper {
            max-width: 480px;
        }
    }

    .services_text {
        .text-parrafo {
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
    }

    .card__services {
        align-items: center;
        grid-template-areas: "text imagen" 
                            "text imagen";

        &:nth-child(2),
        &:nth-child(4) {
            grid-template-areas: "imagen text" 
                                "imagen text";
        }
    }
}


@media (min-width: 768px) {
    .section_services {
        padding: 5rem 0;
    }
    .section_services {
        .wrapper {
            max-width: 750px;
        }
    }
    .services_text {
        .titulo {
            font-size: 2.8rem;
            line-height: 1.33333;
            font-weight: 700;
        }
    }

    .services_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .card__services {
            margin: 1.5rem;
        }
    }
}


@media (min-width: 992px) {
    .section_services {
        padding: 7.5rem 0;
        .wrapper {
            max-width: 970px;
        }
    }
    .services_text {
        .titulo {
            font-size: 2.8rem;
            line-height: 1.33333;
            font-weight: 700;
        }
    }
}

@media (min-width: 1200px) {
    .section_services {
        padding: 11rem 0;
        .wrapper {
            max-width: 1200px;
        }
        .card_img {
            margin: 0 4rem;
        }
    }
    .services_text {
        .titulo {
            font-size: 3.6rem;
            line-height: 1.33333;
            font-weight: 700;
        }
    }
    .card__services {
        &:nth-child(1),
        &:nth-child(3) {
            padding: 2.5rem 5rem;
        }
    }
}