
.section_testimonials {
    padding: 3rem 0;
}


.testimonials__text {
    padding: 0 .5rem;
    text-align: center;

    .titulo {
        margin-bottom: 0;
    }

    .text-parrafo {
        @include parrafo;
        color: var(--color-primaryGray);
    }

    .after_before {
        @include after_before;
    }
}

.card__testimonials {
    padding: 4rem 2.5rem;
    background-color: var(--color-lightGray);
    
    .testimonial_image {
        width: 120px;
        height: 120px;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;
            object-fit: cover;
            object-position: center center;
        }
    }
}

.testimonial_text {
    .titulo {
        font-size: 2rem;
        text-transform: capitalize;
    }

    .text-parrafo {
        @include parrafo;
        font-style: italic;
        color: #000;
        letter-spacing: 0.05rem;

        .icono {
            font-size: 1.5rem;
            margin: 0 .7rem;
        }
    }

    .barber_redes {
        display: flex; 
        justify-content: start;
        align-items: center;
        margin-top: 3rem;

        .icono {
            font-size: 1.5rem;
            margin-right: 4rem;
            color: var(--color-secundary);
        }
    }
}

// ********** MEDIA QUERY ***************
@media (min-width: 480px) {
    .section_testimonials {
        .wrapper {
            max-width: 480px;
        }
    }

    .testimonials__text {
        .text-parrafo {
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
    }
}

@media (min-width: 768px) {
    .section_testimonials {
        .wrapper {
            max-width: 750px;
        }
    }
    .testimonials__text {
        .titulo {
            font-size: 2.8rem;
            line-height: 1.33333;
        }
    }

    .card__testimonials {
        display: grid;
        grid-template-columns: 30% 70%;
        justify-items: center;
    }
}